h1 {
  text-align: center;
  margin-top: 20px; /* Distância do topo, opcional */
  color: white;
}

#description {
  color: white;
  margin-top: 80px;
  max-width: 50%;
  margin: 0 auto;          /* Centraliza horizontalmente */
  text-align: justify;     /* (opcional) deixa o texto justificado */
  line-height: 1.6;        /* Melhora a leitura */
}

#highscore {
  color: white;
  margin-top: 150px;  
  text-align: center;     
  line-height: 1.6;
}

body {
  background-color: rgb(27, 27, 27);
}

#start {
  background-color: rgb(218, 211, 211); /* Cor de fundo */
  color: black; /* Cor do texto */
  padding: 10px 20px; /* Espaçamento interno */
  border: none; /* Remove borda */
  border-radius: 5px; /* Bordas arredondadas */
  font-size: 16px; /* Tamanho da fonte */
  cursor: pointer; /* Cursor de mão ao passar o mouse */
  transition: background-color 0.3s ease; /* Efeito de transição */
}

#start:hover {
  background-color: rgb(114, 110, 110)
}
